<?xml version="1.0" encoding="UTF8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--绑定一个对应的Dao/Mapper接口-->
<mapper namespace="com.zhoushiya.springbootstudy.testdb.mapper.ArticleMapper">
    <select id="getAll" resultType="com.zhoushiya.springbootstudy.testdb.entity.Article">
        SELECT * FROM testdb.article
    </select>
    <select id="getById" parameterType="long" resultType="com.zhoushiya.springbootstudy.testdb.entity.Article">
        SELECT * FROM testdb.article where id=#{id}
    </select>
    <insert id="insert" parameterType="com.zhoushiya.springbootstudy.testdb.entity.Article">
        insert into testdb.article(id,title,author,create_time) values (#{id},#{title},#{author},#{createTime})
    </insert>
</mapper>